@CHARSET "UTF-8";

body {
	background: none;
}

.navbar {
	background: white;
	border-style: none;
	opacity: 0.9;
}

.navTab {
	color: black;
	font-size: 18px;
}

.navTab:hover {
	color: black;
}

.navTab50 {
	width: 50%;
	text-align: center;
}

.container {
	width: 70%;
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #797979;
}

.navbar-default .navbar-nav>li>a {
	color: black;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #797979;
}

#heading {
	text-align: center;
}

#bigHeading {
	font-size: 75px;
}

#smallHeading {
	font-size: 30px;
}

#glyphicon {
	font-size: 50px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.liste {
	text-align: center;
}

.page-header {
	margin-left: 20px;
	margin-right: 20px;
}

.darkBackground {
	background: #f5f5f5;
}

.selfRow {
	margin-top: 20px;
	margin-bottom: 20px;
}

.selfIMG {
	width: 100%;
}

#navbarIMG {
	width: 5%;
}

.detailsFooter {
	text-align: center;
}

#footer {
	background: none;
}

.bottomRow {
	margin-bottom: 20px;
	margin-top: 15px;
}

.jumboTop {
	margin-top: 20px;
}

.jumboCenter {
	text-align: center;
}

#jumboButton {
	margin-top: 20px;
}

#save {
	margin-top: 20px;
}

.jumboRow {
	margin-top: 10px;
	display: none;
}

.jumboRowSpace {
	margin-top: 20px;
}

strong {
	font-size: 20px;
}

#searchToggle {
	display: none;
}

/* allgemein */
.topObject {
	margin-top: 70px;
}

.center {
	text-align: center;
}

.cursor {
	cursor: pointer;
}

.linkSize {
	font-size: 16px;
}